@font-face{
    font-family: Lintel;
src: url('./Lintel-Regular.ttf')
}



body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
   font-family:Lintel;
   padding: 0px;
   
}

.container{
    overflow: hidden;
}




.video-container{
 
    filter: brightness(0.4);
  position: relative;
  margin: 0;
  padding: 0;
 
}


.viewport-header {
    position: relative;
    
  } 


  h1{
     color: white
  }


  .header{
      color: white important!;
      font-size: 80px;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-10%, -20%);
  }

  .about-head{
      font-size: 110px;
      display: flex;
      text-align: center;
      justify-content: center;
  }

  .about-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0px;
  }

  .nav{
    position: absolute;
    top: 5%;
    right: 5%; 
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  #about{
      height: 200px;
  }

  h2{
      font-size: 60px;
  }

  ul{
    color: white;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
  }

  li{
      margin-right: 20px;
      font-size: 20px;
  }

  p{
      font-size: 40px;
      margin: 10px;
  }

  a {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: Lato, sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;}

    a:after{
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }


a:hover{
color: #95a5a6;
}

a:hover:after{
    width: 100%;
	background: #3366FF;
}
  

/* video{
   
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}





  h1{
      
  }